* {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;

}

.mary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

ul li {
    list-style: none;
    margin-right: 50px;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
    padding: 15px 35px;
}

/*header related css */
.header {
    background-color: #FFF8F3;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: center;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .banner-img img {
    width: 500px;
}

.greeting {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}

.title {
    font-size: 75px;
    margin-top: 5px;
    font-weight: 700;
}

.banner-content p {
    font-size: 15px;
    color: #757575;
}

/* main  section css work*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
    margin: 150px 0;
}

.tile-about {

    font-size: 35px;
    font-weight: 700;
}

.content-about {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* about information sectionL  */

.about-info-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.name {
    font-size: small;
    color: #757575;
}

.description {
    margin-top: 0;
    font-size: large;
    color: #757575;
}

/* what i do section cssL  */

.ido {
    text-align: center;
}


/* skill related styles here */


#do {
    padding: 30px 150px;
}

.skill-container {
    display: flex;
    gap: 10px;
}

.skill {

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* this section is to work with resume and education sectionLL */
.resume-edu-container {
    display: flex;
    gap: 50px;
}

.edu-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.instituition {
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    text-align: right;
}

.edu-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}
hr{
    margin: 30px;
}

/* this ssection is for footer section */
footer{
    display: flex;
    padding: 150px 200px;
    background: #FFF8F3;
    padding-top: 150px;
    gap: 100px;
}
.footer-container{
    width: 50%;
}
/* contact form styling */

.contact input[type="text"] , .contact input[type="email"] ,textarea {
    display: block;
    margin-bottom: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    border: 0;
    width: 100%;
}
.textarea{
    height: 200px;
}
.footer-container a{
    margin-right: 10px;
}




